Dear <<<<NAME>>>>,

An account has been created for you on the <<<<ORG>>>> Galaxy server. Your username
is your email address (all lowercase) and your initial password is:

<<<<PW>>>>

Please change your password after logging in for the first time. If you have
any questions or have problems logging in, please let me know.

Regards,
Jeremy
