[Unit]
Description="Thermo handler"

[Service]
ExecStart=/opt/bin/thermo_handler
User=thermo
Group=thermo
WorkingDirectory=/home/thermo/
Restart=on-abort
RestartSec=30
ProtectSystem=full

[Install]
WantedBy=multi-user.target
