[Unit]
Description="Thermo watcher"

[Service]
ExecStart=/opt/bin/thermo_watcher.pl
User=thermo
Group=thermo
WorkingDirectory=/home/thermo/
Restart=on-abort
RestartSec=30
ProtectSystem=full

[Install]
WantedBy=multi-user.target
